{% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © CETEF TOGO 2000.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Designé & Developpé par <a href="https://www.linkedin.com/in/luz-koumedzro">WebAscend</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
{% endblock footer %}
    
