{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard{% endblock title %}

{% block seo %}
    <title>Tableau de Bord - CETEF</title>
    <meta name="description" content="Tableau de bord administratif"/>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% url 'admin:dashboard' %}"/>
    <meta property="og:title" content="Tableau de Bord - CETEF"/>
    <meta property="og:description" content="Tableau de bord administratif"/>
    <meta property="og:image" content="{% static 'images/cetef/footer_logo.png' %}"/>
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="{% url 'admin:dashboard' %}"/>
    <meta property="twitter:title" content="Tableau de Bord - CETEF"/>
    <meta property="twitter:description" content="Tableau de bord administratif"/>
    <meta property="twitter:image" content="{% static 'images/cetef/footer_logo.png' %}"/>
    <!-- App favicon -->
{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/shimmer.css' %}">

{% endblock extra_css %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">

            {% if perms.coreservice.can_view_dashboard %}
                <div class="container-fluid">
                    {% block pagetitle %}
                    {% endblock pagetitle %}

                    <div class="row mb-3 pb-1">
                        <div class="col-12">
                            <div class="d-flex align-items-md-end flex-md-row flex-column">
                                <div class="flex-grow-1">
                                    <h4 class="fs-16 mb-1">Bonjour, {{ request.user }}!</h4>
                                    {% if request.user.is_superuser %}
                                        <p class="text-muted mb-0">Voici ce qui se passe aujourd'hui sur la
                                            plateforme</p>
                                    {% endif %}
                                </div>
                                <div>
                                    <select class="form-select form-select-sm rounded rounded-2 border border-light"
                                            name="event" id="event">
                                        {% for event in events %}
                                            <option {% if event.id == last_event.id %}selected{% endif %}
                                                    value="{{ event.id }}">{{ event.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div><!-- end card header -->
                        </div>
                    </div>

                </div>

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0 placeholder-glow">
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                            <span class="placeholder col-6 placeholder-xs"></span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                             <div class="placeholder-glow">
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                                  <span class="placeholder col-12 placeholder-xs"></span>
                                             </div>

                                        </div>

                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-header border-0 align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Diagramme des revenus</h4>
                                    <div class="d-block">
                                        <button data-filter="today" type="button"
                                                class="btn btn-soft-primary filter-btn btn-sm active">
                                            Aujourd'hui
                                        </button>

                                        <button data-filter="last_30_days" type="button"
                                                class="btn btn-soft-primary filter-btn btn-sm">
                                            30 derniers jours
                                        </button>
                                        <button data-filter="annual" type="button"
                                                class="btn btn-soft-primary filter-btn btn-sm">
                                            Dernière année
                                        </button>
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body p-0 pb-2">
                                    <div class="w-100">
                                        <div class="placeholder-glow px-4 pt-5">
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>

                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->


                        <div class="col-xl-4">
                            <div class="card card-height-100">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Canal de paiement plus
                                        utilisé</h4>
                                </div><!-- end card header -->

                                <div class="card-body">

                                    <div class="placeholder-glow px-4 pt-5">
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>
                                            <span class="placeholder col-12 placeholder-xs"></span>

                                        </div>


                                </div>
                            </div> <!-- .card-->
                        </div> <!-- .col-->

                        <!-- end col -->
                    </div>
                </div>

            {% else %}

                <div class="row align-items-center justify-content-center" style="height: 50vh">

                    <div class="col-7 align-items-center">

                        <div class="text-center">
                            <i style="font-size: 35px" class="bx bx-error-alt text-danger"></i>
                        </div>

                        <div class="mt-3">
                            <h5 class="text-muted text-center">Désolé, vous n'êtes pas autorisé à visualiser cette
                                page!</h5>
                        </div>

                    </div>

                </div>

            {% endif %}



            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}

{% block extra_js %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    <!-- Dashboard init -->
    <script src="{% static 'js/pages/dashboard-ecommerce.init.js' %}"></script>

    <script>

        var category_options = {
            chart: {
                type: 'donut',
            },
            series: [],
            labels: [],
            colors: ['#fbc02d', '#00796b', '#775DD0', '#008FFB', '#00E396',],
            legend: {
                position: 'bottom'
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val.toLocaleString('fr') + " FCFA"; // Format with thousands separator + FCFA
                    }
                }
            }
        };

        var category_chart = new ApexCharts(document.querySelector("#category_chart"), category_options);
        category_chart.render();

        $.ajax({
            url: "{% url 'admin:category-invoice-reports' %}",
            type: "GET",
            dataType: "json",
            success: function (response) {

                var chartData = response[0];
                category_chart.updateOptions({
                    labels: chartData.labels,
                    series: chartData.data,

                });

            }
        });

    </script>

    <script>

        var options = {

            chart: {
                foreColor: '#9a9797',
                type: "area",
                //width: 130,
                height: 420,
            },
            series: [],

        };
        var chart = new ApexCharts(document.querySelector("#invoices_chart"), options);
        chart.render();


        function fetchRevenue(filter) {

            $.ajax({
                url: "{% url 'admin:invoice-reports' %}",
                type: "GET",
                data: {filter: filter},
                dataType: "json",
                success: function (chartData) {
                    const labels = chartData.map(item => item.labels);
                    const tickets_value = chartData.map(item => item.tickets_value);
                    const tickets_count = chartData.map(item => item.tickets_count);
                    const booking_value = chartData.map(item => item.booking_value);
                    const booking_count = chartData.map(item => item.booking_count);

                    var options = {

                        chart: {
                            foreColor: '#9a9797',
                            type: "area",
                            //width: 130,
                            height: 420,
                            toolbar: {
                                show: !1
                            },
                            zoom: {
                                enabled: !1
                            },
                            dropShadow: {
                                enabled: 0,
                                top: 3,
                                left: 14,
                                blur: 4,
                                opacity: .12,
                                color: "#2d2c2c"
                            },
                            sparkline: {
                                enabled: !1
                            }
                        },
                        stroke: {
                            width: [2, 0, 2, 2],  // Line for paid revenue, bar for unpaid, dashed for counts
                            dashArray: [0, 0, 5, 5]
                        },
                        series: [
                            {
                                name: "Revenu Ticket",
                                type: "line",
                                data: tickets_value
                            },
                            {
                                name: "Revenu Reservation",
                                type: "area",
                                data: booking_value
                            },
                            {
                                name: "Total Ticket",
                                type: "line",
                                data: tickets_count
                            },
                            {
                                name: "Total Reservation",
                                type: "line",
                                data: booking_count
                            }
                        ],
                        labels: labels,
                        markers: {
                            colors: ["#3a3a3a"],
                            size: 3,
                            strokeWidth: 1,
                            hover: {
                                size: 3
                            }
                        },
                        plotOptions: {
                            bar: {
                                columnWidth: "35%",
                                endingShape: "rounded"
                            }
                        },
                        legend: {
                            show: true,
                            position: 'bottom',
                            horizontalAlign: 'center',
                            offsetY: 5,
                            offsetX: 20
                        },
                        dataLabels: {
                            enabled: !1
                        },
                        colors: ["#28a745", "#dc3545", "#007bff", "#ff9800"],

                        yaxis: [

                            {
                                title: {text: "Revenue en FCFA"}
                            }
                        ],
                        tooltip: {
                            theme: 'dark',
                            y: {
                                formatter: function (value, {seriesIndex}) {
                                    if (seriesIndex === 0 || seriesIndex === 1) {
                                        //return value.toLocaleString() + " FCFA";
                                        return "" + value + " FCFA"
                                    } else {
                                        return value; // Keep count values as normal numbers
                                    }
                                }
                            }

                        }

                    };
                    chart.updateOptions(options)

                }
            });

        }

        $(document).ready(function () {

            fetchRevenue("today")

            $(".filter-btn").click(function () {
                $(".filter-btn").removeClass("active");
                $(this).addClass("active");
                let filter = $(this).data("filter");
                fetchRevenue(filter);
            });

        })


    </script>



{% endblock extra_js %}