{% extends "admin/partials/base.html" %}
{% load static %}

{% block  seo %}

    <title>Tableau de Bord | Type stands - CETEF</title>
    <meta name="description" content="Type stands"/>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content="Tableau de Bord | Type stands - CETEF"/>
    <meta property="og:description" content="Type stands"/>
    <meta property="og:image" content=""/>
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:title" content="Tableau de Bord | Type stands - CETEF"/>
    <meta property="twitter:description" content="Type stands"/>
    <meta property="twitter:image" content="{% static 'admin/images/cetef/footer_logo.png' %}"/>
    <!-- App favicon -->

{% endblock %}


{% block extra_css %}
    <!-- Sweet Alert css-->
    <link href="{% static 'admin/libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid pt-5">


                {% if perms.coreservice.can_view_stand_type %}

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="card-header border-0 ">
                                    <h4 class="card-title mb-0">Gestion de Partenaire</h4>
                                </div><!-- end card header -->

                                <div class="card-body">

                                    <div class="row gx-5">

                                        <div class="col-md-4">

                                            <h5>Enregistrer un partenaire</h5>

                                            <div>
                                                <form method="POST">
                                                    {% csrf_token %}

                                                    {{ addPartnerForm.as_p }}

                                                    {% if edition %}

                                                        <input type="hidden" name="partner" value="{{ partner.id }}"/>

                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <a href="{% url 'admin:liste-de-partenaires' %}"
                                                                   type="button" class="btn btn-dark">Annuler</a>
                                                            </div>
                                                            <div>
                                                                <button name="update" type="submit" class="btn btn-primary">
                                                                    Enregistrer
                                                                </button>
                                                            </div>
                                                        </div>

                                                    {% else %}

                                                        <div>
                                                            <button type="submit" class="btn btn-primary">
                                                                Ajouter
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                </form>
                                            </div>

                                        </div>

                                        <div class="col-md-8">
                                            <div>
                                                {% for message in messages %}

                                                    {% if message.extra_tags == "category_update_success" %}

                                                        <div class="alert alert-success border-0 text-center"
                                                             role="alert">
                                                            {{ message }}
                                                        </div>

                                                    {% elif message.extra_tags == "booth_type_delete_success" %}

                                                        <div class="alert alert-danger border-0 text-center"
                                                             role="alert">
                                                            {{ message }}
                                                        </div>

                                                    {% endif %}

                                                {% endfor %}

                                            </div>
                                            <table class="table table-hover table-nowrap">
                                                <thead>
                                                <tr align="center">
                                                    <th scope="col">Nom du Partenaire</th>
                                                    <th scope="col">Prix Standard</th>
                                                    <th scope="col">Prix Kilomtré</th>
                                                    <th scope="col">Prix Horaire</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for partner in partner_list %}
                                                    <tr align="center">

                                                        <td id="txt_editBooth"
                                                            style="font-size: 16px">{{ partner.name }}</td>
                                                        <td style="font-size: 16px">{{ partner.phone }}</td>
                                                        <td style="font-size: 16px">{{ partner.email }}</td>
                                                        <td style="font-size: 16px">{{ partner.country|title }}</td>

                                                        <td>
                                                            <a href="?edition=true&id={{ partner.id }}"><i
                                                                    class="ri-pencil-line text-secondary"></i></a>

                                                            <a class="ms-2 cursor-pointer remove-item-btn"
                                                               data-href="{% url 'admin:delete-partner' partner.id %}">
                                                                <i class="ri-delete-bin-line text-danger"></i>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>


                                </div><!-- end card -->
                            </div>

                        </div>
                        <!-- end col -->
                    </div>

                {% else %}

                    <div class="row align-items-center justify-content-center" style="height: 50vh">

                        <div class="col-7 align-items-center">

                            <div class="text-center">
                                <i style="font-size: 35px" class="bx bx-error-alt text-danger"></i>
                            </div>

                            <div class="mt-3">
                                <h5 class="text-muted text-center">Désolé, vous n'êtes pas autorisé à visualiser cette
                                    page!</h5>
                            </div>

                        </div>

                    </div>

                {% endif %}


            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% block footer %}
            {% include "admin/partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}

{% block extra_js %}

    <!-- Sweet Alerts js -->
    <script src="{% static 'admin/libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

    <script>
        $(document).on("submit", "form#new_stand_type", function () {
            $('#add-btn').hide()
            $('.btn-load').show()

        })
    </script>

    <script>
        $(document).on("click", ".remove-item-btn", function () {

            var del = $(this).data('href')
            Swal.fire({
                text: "Êtes-vous sûr de vouloir supprimer ce partenaire?",
                showCancelButton: true,
                confirmButtonText: 'Oui, Confirmer',
                cancelButtonText: 'Annuler',
                allowOutsideClick: false,
                customClass: {
                    confirmButton: 'btn btn-danger btn-sm me-4 waves-effect waves-light',
                    cancelButton: 'btn btn-dark btn-sm waves-effect'
                },
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {
                    window.location.href = del
                }
            });
        });

    </script>



{% endblock extra_js %}